HF_HUB_TOKEN=yoUrToKen
MLFLOW_TRACKING_URI=https://mlflow.chezombor.com/
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=https://minio.example.com
